.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    
  }
}


.form
{
  font-family: sans-serif;
  color: white;
  
}

.form h1
{
  text-align: center;
  font-weight: bolder;
  padding-top: 30px;
}

.form p 
{
  text-align: center;
  font-size: large;


}
.form form 
{
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
 

}
.form form input
{
border: 3px solid black;
height: 40px;
margin: 10px;
border-radius: 10px;
}

.form form button
{
  height: 40px;
  border: 3px solid black;
 margin: 10px;
 
 border-radius: 10px;
 font-weight: bold;
}

.form form button:hover
{
  transform: scale(1.5);
  
}



.cardcontainer 
{
 margin-left: 30px;
 width: 28rem;
 border-color: white;
 margin-bottom: 20px;
}

.cardcontainer button:hover
{
  transform: scale(1.2);

}


.main 
{
  
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6b/NASA_World_Wind_-_Google_Earth_bar.png);
  background-repeat: no-repeat;
 background-size: cover;

height: 800px;
}